.main{max-width: 1600px;margin: 0 auto;padding: 30px 0;}
.main p {margin-bottom: 0;}

/* 상단 제목 바 */
.top_title_box{border-bottom: 1px solid #ddd;padding: 20px 0;margin-bottom: 40px;display: flex;}
.top_title_box.n1{justify-content: center;}
.top_title_box.n2{justify-content: space-between;}
.top_title_box .title {font-size: 32px;}

.item_box_v1 {background-color: #f1f1f1;min-height: 400px;display: flex; justify-content: center; align-items: center;gap:10px;flex-direction: column;}
.item_box_v1 .inner {
    display: flex; justify-content: center; align-items: center;gap:10px;
}
.file_upload_box {cursor: pointer;}

.modal-title{font-weight: bold;}

/* DirectInput : s */
.chart_wrap {display: flex;gap:30px; align-items: start;}
.chart_wrap .card:not(:last-child){margin-bottom: 15px;}
.chart_wrap .input_wrap .card-header{padding: 0;border-bottom: none;}
.chart_wrap .input_wrap .title {font-size: 20px;color: #444;display: block;width: 100%;border: none;background: none;text-align: left; padding: var(--bs-card-cap-padding-y) var(--bs-card-cap-padding-x);font-weight: bold;}
.chart_wrap .input_item {margin-bottom: 15px;}
.chart_wrap .input_item:last-child {margin-bottom: 0;}
.chart_wrap .select_type .set_box {display: grid;grid-template-columns: repeat(4,1fr); gap:4px;}
.chart_wrap .select_type .set_box .btn {display: grid;grid-template-rows: 1fr auto;border: 1px solid #ddd;gap:8px;}
.chart_wrap .select_type .set_box .btn.active {border-color: #0d6efd;color: #0d6efd;font-weight: bold;}
.chart_wrap .select_type .set_box img {width: 100%;align-self: center;}
.chart_wrap .set_dataset .set_box {display: flex;gap:15px;}
.chart_wrap .set_dataset .set_box .btn_add {margin-bottom: 15px;width: 100%;}
.chart_wrap .set_dataset .label_box {width: 40%;}
.chart_wrap .set_dataset .label_box .sticky-top {top:30px;}
.chart_wrap .set_dataset .label_box .input-group:not(:last-child){margin-bottom: 5px;}
.chart_wrap .set_dataset .datasets_box {flex:1;}
.chart_wrap .tab_wrap .nav{margin-bottom: 5px;}
.chart_wrap .tab_wrap .nav-link{font-size: 15px;padding:0.4rem 0.8rem;}
.chart_wrap .tab_wrap .inner_box{border: var(--bs-card-border-width) solid var(--bs-card-border-color);border-radius: var(--bs-card-border-radius);margin: 5px 0;padding: 10px;position: relative;}
.dataset_del_wrap .input-group-text { flex:1; }
.chart_wrap .set_dataset .datasets_box .data_inner .form-floating{margin: 5px 0;}
.chart_wrap .option_inner > * {margin-top: 5px;}
.chart_wrap .set_dataset .datasets_box .option_inner .input-group-text {cursor: pointer;width: 50%;}
.chart_wrap .set_dataset .datasets_box .custom_item .custom_label {
    margin-bottom: 0.3em; margin-top: 0.7em; padding-left: 0.7em; position: relative;
    color: rgba(var(--bs-body-color-rgb), .65);font-size: 14px;
}
.chart_wrap .set_dataset .datasets_box .custom_item .custom_label::before{
    content: ''; width: 4px; height: 4px; background-color: rgba(var(--bs-body-color-rgb), .65); position: absolute; left: 0; top: 0.6em;
    border-radius: 50%;
}
.custom_switch_box .input-group-text {width: 50%;}
.custom_input_box .input-group-text {width: 50%;}
.custom_switch_box .form-check { margin-bottom: 0; display: flex; justify-content: center; }
.custom_switch_box .form-check .form-check-input { width: 100%; }
.chart_wrap .result_wrap{
    --bs-card-border-color: var(--bs-border-color-translucent);
    --bs-card-border-radius: var(--bs-border-radius);
    border: 1px solid var(--bs-card-border-color);min-height: 400px;display: grid;
    grid-template-rows: auto 1fr; overflow: hidden;
    border-radius: var(--bs-card-border-radius);flex-wrap: wrap;
    top: 30px;flex:1;
}
.chart_wrap .result_wrap .btn_wrap {margin-left: auto;padding-top: 15px;padding-right: 15px;}
.chart_rendering{width: 100%;padding: 15px;display: flex;align-items: center;}
.chart_rendering > * {width: 100%;}
.chart_option_none{font-size: 18px; font-weight: bold;width: 100%;height: 100%;display: flex;align-items: center;justify-content: center;}
.options_common_wrap {margin-bottom: 15px;}
.custom_item .form-range { height: inherit; padding: 0 5px; }
/* DirectInput : e */


/* FileUpload : s */
.btn_download {display: flex;justify-content: center;align-items: center;}
.btn-upload {font-size: 24px; font-weight: bold;}
#file {display: none;}
/* FileUpload : e */

/* FileConvertModal : s */
.FileConvertModal .modal-body .btn_group > * {display: block;width: 100%;margin: 5px 0;}
/* FileConvertModal : e */