.main{max-width: 1400px;margin: 0 auto;padding: 30px 0;}
.main p {margin-bottom: 0;}

/* 상단 제목 바 */
.top_title_box{border-bottom: 1px solid #ddd;padding: 20px 0;margin-bottom: 40px;display: flex;}
.top_title_box.n1{justify-content: center;}
.top_title_box.n2{justify-content: space-between;}
.top_title_box .title {font-size: 32px;}

.item_box_v1 {background-color: #f1f1f1;min-height: 400px;display: flex; justify-content: center; align-items: center;gap:10px;}

/* DirectInput : s */
.chart_wrap {display: flex;gap:30px; align-items: start;}
.chart_wrap > * {flex:1;gap:15px;}
.chart_wrap .input_wrap .title {font-size: 20px;color: #444;margin-bottom: 0.8em;display: block;}
/* .chart_wrap .input_box {border-bottom: 1px solid #ddd;} */
.chart_wrap .input_item {margin-bottom: 15px;}
.chart_wrap .input_item:last-child {margin-bottom: 0;}
.chart_wrap .result_wrap{border: 1px solid #eee;min-height: 400px;display: flex;}
.chart_rendering{width: 100%;padding: 15px;display: flex;align-items: center;}
.chart_rendering > * {width: 100%;}
.chart_option_none{font-size: 18px; font-weight: bold;width: calc(100% + 30px);height: calc(100% + 30px);margin: -15px;background-color: #f4f4f4;display: flex;align-items: center;justify-content: center;}
/* DirectInput : e */


/* FileUpload : s */
.btn_download {display: flex;justify-content: center;align-items: center;}
.btn-upload {font-size: 24px; font-weight: bold;}
#file {display: none;}
/* FileUpload : e */